
 <body>
  
    <style>     
        @import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC');
    </style>

    <!-- <h3 class="header">Character Details Component</h3> -->
    
    <div *ngIf="this.characterDetail" class="form">
        <br>
        <label for="status"> STATUS </label>
        <input [(ngModel)] = "this.characterDetail.status" type="text" value="0" #status>
        <br>

        <label for="experience"> EXPERIENCE </label>
        <input [(ngModel)] = "this.characterDetail.experience" type="text" value="0" #experience>
        <br>

        <label for="character_class"> CHARACTER CLASS </label>
        <input [(ngModel)] = "this.characterDetail.character_class" type="text" value="0" #characterClass>
        <br>

        <label for="race"> RACE </label>
        <input [(ngModel)] = "this.characterDetail.race" type="text" value="0" #race>
        <br>

        <label for="alignment"> ALIGNMENT </label>
        <input [(ngModel)] = "this.characterDetail.alignment" type="text" value="0" #alignment>
        <br>

        <label for="deity"> DEITY </label>
        <input [(ngModel)] = "this.characterDetail.deity" type="text" value="0" #deity>
        <br>

        <label for="size"> SIZE </label>
        <input [(ngModel)] = "this.characterDetail.size" type="text" value="0" #size>
        <br>

        <label for="age"> AGE </label>
        <input [(ngModel)] = "this.characterDetail.age" type="text" value="0" #age>
        <br>

        <label for="gender"> GENDER </label>
        <input [(ngModel)] = "this.characterDetail.gender" type="text" value="0" #gender>
        <br>

        <label for="height"> HEIGHT </label>
        <input [(ngModel)] = "this.characterDetail.height" type="text" value="0" #height>
        <br>

        <label for="weight"> WEIGHT </label>
        <input [(ngModel)] = "this.characterDetail.weight" type="text" value="0" #weight>
        <br>

        <label for="eyes"> EYES </label>
        <input [(ngModel)] = "this.characterDetail.eyes" type="text" value="0" #eyes>
        <br>

        <label for="hair"> HAIR </label>
        <input [(ngModel)] = "this.characterDetail.hair" type="text" value="0" #hair>
        <br>
    </div>
    
</body>