<nav>
	<a [routerLink]="['/character-list']">
    Characters
  </a>
  |
  <a [routerLink]="['/']">
    Tutorial
  </a>
</nav>


<!--
<h3>
  Angular 2 Seed
</h3>
-->

<nav>
	<!-- <a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a> -->
  <!-- <a [routerLink]="['/character-details']">
    Character Details
  </a>
  |
  <a [routerLink]="['/base-stats']">
    Base Stats
  </a>
  |
  <a [routerLink]="['/feats_abilities']">
    Feats &amp; Abilities
  </a>
  |
  <a [routerLink]="['/possessions']">
    Possessions
  </a>
  |
  <a [routerLink]="['/skills']">
    Skills
  </a>
  |
  <a [routerLink]="['/spells']">
    Spells
  </a>
  |
</nav> -->

<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2016
</footer>
